.App{
    background-color: rgb(236, 236, 236);
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 60px;
    color: rgb(19, 19, 196);
}
h2{
    font-size: 56px;
    color: rgb(19, 19, 196);
}
text{
    color: black;
    font-size: 36px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
    background-color: rgb(236, 236, 236);
}
.bannerText,.bannerImg{
    height: auto;
    width: 45%;
}
.tab{
    padding: 20px;
    border-width: 1;
    border-style: solid;
    border-color: aqua;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px;
}
.statement{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-width: 0.5;
    border-style: solid;
    border-color: dimgray;
    border-radius: 10px;
    margin: 5px;
}
.tabhead{
    display: flex;
    justify-content: space-between;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
